* {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #272d2d;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  padding: 35px 0;
}

h3 {
  font-size: 1.75rem;
  padding-bottom: 5px;
}

h4 {
  font-size: 1.5rem;
  padding-bottom: 25px;
}

p {
  font-size: 1.75rem;
  padding: 5px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #06230e;
  margin-bottom: 2px;
}

nav a {
  padding: 20px 8px;
  color: #d7bcc8;
  font-size: 2rem;
  text-align: center;
}

main,
footer {
  padding: 0 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

footer {
  padding-bottom: 10px;
}

main > section,
footer > section {
  display: flex;
  margin-bottom: 2px;
  justify-content: space-between;
}

.section-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 50%;
  padding: 10px;
  text-align: center;
}

.section-body {
  display: flex;
  justify-content: center;
  padding: 65px;
  flex: 0 0 50%;
}

.hello-world {
  background-color: #d7bcc8; /*#82b29b;*/
}

.hello-world h2 {
  padding-top: 15px;
}

.hello-world h3 {
  padding: 15px;
}

.self-image {
  width: 75%;
  border: 25px solid white;
  border-radius: 25%;
  min-height: 300px;
  min-width: 300px;
}

.projects {
  flex-direction: column;
  background-color: #82b29b;
}

.project-head {
  text-align: center;
}

.project-body {
  display: flex;
  flex-wrap: wrap;
}

.work {
  position: relative;
  flex: 1 0 33.33%;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.work:first-child {
  flex: 2 0 100%;
  width: 100%;
}

.work p {
  font-size: 1rem;
}

/* Change opacity of the image and show the text behind it*/
/* From https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
.work img {
  padding: 10px;
  width: 50%;
  min-width: 400px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border: 2px solid #efd780;
}

.work:hover img {
  opacity: 30%;
  transition: 0.5s ease;
}

.work div {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fac8cd;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.work:hover div {
  opacity: 100%;
  transition: 0.5s ease;
}

.contacts .section-body {
  flex-direction: column;
  align-items: flex-start;
}

.contacts {
  background-color: #b58398;
}

@media screen and (max-width: 768px) {
  nav,
  main section {
    flex-direction: column;
  }
  main > section {
    flex: auto;
  }
  .work {
    flex: 1 1 100%;
  }
  .section-body {
    padding: 15px;
    align-items: center;
  }
  .self-image {
    width: 50%;
  }
  h2 {
    padding: 15px 0;
  }
}
