:root {
  --border-color: #efd780;
  --padding: 15px;
}

/* Set base font size to 14px and base the header sizes to that size */
* {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #272d2d;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  padding: 35px 0;
}

h3 {
  font-size: 1.75rem;
  padding-bottom: 5px;
}

h4 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

p {
  font-size: 1.75rem;
  padding: 10px;
  line-height: 2rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #06230e;
  margin-bottom: 2px;
}

nav a {
  padding: 20px 8px;
  color: #d7bcc8;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}
a:hover {
  color: #efd780;
  text-decoration: none;
}

main,
footer {
  display: flex;
  padding: 5px 10px;
  flex-direction: column;
}

main > section,
footer > section {
  display: flex;
  margin-bottom: 2px;
  justify-content: space-between;
}

.hello-world {
  background-color: #d7bcc8;
}

/* Put section-head and section-body of each section side by side */
.section-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 50%;
  padding: 50px;
  text-align: center;
}

.section-body {
  display: flex;
  justify-content: center;
  padding: 65px;
  flex: 0 0 50%;
}

.self-image {
  width: 75%;
  border: 25px solid var(--border-color);
  border-radius: 25%;
  min-height: 300px;
  min-width: 300px;
}
/* The section in projects are in a column */
.projects {
  flex-direction: column;
  background-color: #82b29b;
}

.project-head h2 {
  display: block;
  text-align: center;
  border: 5px double #272d2d;
}

/* Also make the project-body a flexbox */
.project-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.work {
  position: relative;
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
}
/* Make the image of the first project larger than the rest */
.work:first-child {
  flex: 1 0 100%;
}

/* Change opacity of the image and show the text behind it*/
/* From https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
.work img {
  padding: 10px;
  width: 50%;
  min-width: 400px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border: 2px solid #efd780;
}

.work:hover img {
  opacity: 30%;
  transition: 0.5s ease;
}

.work div {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fac8cd;
  transform: translate(-50%, -50%);
  text-align: center;
}

.work:hover div {
  opacity: 100%;
  transition: 0.5s ease;
}

.contacts {
  background-color: #b58398;
}

.contacts .section-body {
  flex-direction: column;
  align-items: flex-start;
}

/* Add spacing between the two logos */
.logos a {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  /* Make the sections show in column */
  nav,
  main section {
    flex-direction: column;
  }
  /* When the screen gets smaller, just align the work images into one column */
  .work {
    flex: 1 1 100%;
  }
  /* Decrease the space between the section-head and section-body */
  .section-head {
    padding: 25px;
  }
  .section-body {
    padding: var(--padding);
    align-items: center;
  }

  .self-image {
    width: 50%;
  }

  h2 {
    padding: var(--padding) 0;
  }
}

@media screen and (max-width: 450px) {
  /* Decrease the main font size */
  * {
    font-size: 8px;
  }

  nav a {
    padding: 10px 8px;
  }

  .self-image {
    min-height: 100px;
    min-width: 100px;
    width: 75%;
  }

  .work img {
    min-width: 100px;
    width: 100%;
  }

  /* Decrease the distance between the two sections */
  .section-head {
    padding: 10px;
  }

  .section-body {
    padding: 10px;
  }
}

@media screen and (max-width: 300px) {
  /* Make the contacts sections display in a column */
  .contacts {
    flex-direction: column;
  }
  .contacts .section-body {
    align-items: center;
  }
}
